# Ignore paper dataset
worldtweets.tar.gz
paper_dataset/

# Ignore Win32 binary (compiled using MinGW distro from nuwen.net)
geoloc.exe

# Ignore PyCharm settings
.idea/

# Ignore virtual environment
venv/

# Ignore Python packages
packages/
